*.classpath
*.project
*.prefs
web/.settings/.jsdtscope
web/.settings/org.eclipse.wst.common.component
web/.settings/org.eclipse.wst.common.project.facet.core.xml
web/.settings/org.eclipse.wst.jsdt.ui.superType.container
web/.settings/org.eclipse.wst.jsdt.ui.superType.name
dao-api/.settings/org.eclipse.wst.common.component
dao-api/.settings/org.eclipse.wst.common.project.facet.core.xml
service/.settings/org.eclipse.wst.common.component
service/.settings/org.eclipse.wst.common.project.facet.core.xml
dao-jdbc-impl/.settings/org.eclipse.wst.common.component
dao-jdbc-impl/.settings/org.eclipse.wst.common.project.facet.core.xml
/.metadata/
